@import "/src/app/styles/vars.scss";

.calculationPanel {
	display: flex;
	flex: 50%;
	justify-content: center;
	align-items: center;
	&-calculator {
		display: flex;
		justify-content: center;
		align-items: center;

		flex: 50%;
	}
	@media (max-width: 790px) {
		flex: 100%;
	}

	transition: all 0.3s ease-in-out;
}
